<h1>Sign up for IPLOCK</h1>
<style>
     h5{
        font-size: 20px;
        color: red;
        }
</style>


{% for message in messages%}
    <h5><strong>{{ message }}</strong></h5>
    <br>    
{% endfor %}

<form method="POST" action="register">
    {% csrf_token %}
    <p> Username: </p>
    <input type="text" name="username" placeholder="Username">
    <p> Email: </p>
    <input type="email" name="email" placeholder="Email" >
    <p> Password: </p>
    <input type="password" name="password" placeholder="Password">
    <p> Confirm Password: </p>
    <input type="password" name="confirm_password" placeholder="Confirm Password">
    <br>
    <input type="submit" value="Register">
</form>